---
dns_service:
  packages:
    - bind9
    - bind9utils
    - bind9-doc
  service_name: bind9
  user: bind
  group: bind
  config_dir: /etc/bind
  zone_dir: /etc/bind/zones

# --- Variables & Anchors (Definitions) ---
dns_anycast_ns1_v4: 172.21.111.100
dns_anycast_ns1_v6: "fd42:4242:1023::53:0"
dns_anycast_ns2_v4: 172.21.111.101
dns_anycast_ns2_v6: "fd42:4242:1023::53:1"

_dn42_forwarders: &dn42_forwarders
  - 172.20.0.53
  - fd42:d42:d42:54::1

_dns_allowed_clients: &dns_allowed_clients
  - 172.20.0.0/14
  - fd42::/16
  - 172.21.111.0/24
  - fd42:4242:1023::/48
  - 127.0.0.1
  - ::1

_soa_defaults: &soa_defaults
  primary_ns: ns1.iris.dn42.
  contact: hostmaster.iris.dn42.
  serial: 2025112601
  refresh: 7200
  retry: 3600
  expire: 1209600
  minimum: 3600

_transfer_defaults: &transfer_defaults
  - 172.21.111.66
  - fd42:4242:1023:66::53:1
  - any

_forward_zone_defaults: &forward_zone_defaults
  type: forward
  forward_policy: only
  forwarders: *dn42_forwarders

# --- Main Configuration ---

dns_named_options:
  directory: /var/cache/bind
  forwarders: *dn42_forwarders          # <--- Reused
  dnssec_validation: auto
  listen_on_v4:
    - 127.0.0.1
  listen_on_v6:
    - ::1
  allow_query: *dns_allowed_clients
  recursion: true
  allow_recursion: *dns_allowed_clients
  auth_nxdomain: false
  version: none
  extra_statements:
    - empty-zones-enable no;
    - |
      validate-except {
        "dn42";
        "20.172.in-addr.arpa";
        "21.172.in-addr.arpa";
        "22.172.in-addr.arpa";
        "23.172.in-addr.arpa";
        "10.in-addr.arpa";
        "d.f.ip6.arpa";
      };

dns_nameserver_bindings:
  lax-01: &anycast_binding
    interface: dn42-dummy
    listen_on_v4:
      - 127.0.0.1
      - 172.21.111.100
      - 172.21.111.101
    listen_on_v6:
      - ::1
      - fd42:4242:1023::53:0
      - fd42:4242:1023::53:1
  
  hkg-01: *anycast_binding
  tyo-01: *anycast_binding

dns_zones:
  # --- Master Zones ---
  - name: iris.dn42
    type: master
    file: db.iris.dn42
    ttl: 3600
    origin: iris.dn42.
    notify: true
    allow_transfer: *transfer_defaults
    allow_query:
      - any
    soa: *soa_defaults
    records:
      - name: '@'
        type: NS
        value: ns1.iris.dn42.
      - name: '@'
        type: NS
        value: ns2.iris.dn42.
      # Anycast IPs
      - name: ns1
        type: A
        value: 172.21.111.100
      - name: ns1
        type: AAAA
        value: fd42:4242:1023::53:0
      - name: ns2
        type: A
        value: 172.21.111.101
      - name: ns2
        type: AAAA
        value: fd42:4242:1023::53:1
      # Nodes
      - name: lax-01.node
        type: A
        value: 172.21.111.65
      - name: lax-01.node
        type: AAAA
        value: fd42:4242:1023:65::1
      - name: hkg-01.node
        type: A
        value: 172.21.111.66
      - name: hkg-01.node
        type: AAAA
        value: fd42:4242:1023:66::1
      - name: tyo-01.node
        type: A
        value: 172.21.111.67
      - name: tyo-01.node
        type: AAAA
        value: fd42:4242:1023:67::1

  - name: 111.21.172.in-addr.arpa
    type: master
    file: db.111.21.172.in-addr.arpa
    ttl: 3600
    origin: 111.21.172.in-addr.arpa.
    notify: true
    allow_transfer: *transfer_defaults
    allow_query:
      - any
    soa: *soa_defaults 
    records:
      - name: '@'
        type: NS
        value: ns1.iris.dn42.
      - name: '@'
        type: NS
        value: ns2.iris.dn42.
      # PTRs for Anycast
      - name: '100'
        type: PTR
        value: ns1.iris.dn42.
      - name: '101'
        type: PTR
        value: ns2.iris.dn42.
      # PTRs for Nodes
      - name: '65'
        type: PTR
        value: lax-01.node.iris.dn42.
      - name: '66'
        type: PTR
        value: hkg-01.node.iris.dn42.
      - name: '67'
        type: PTR
        value: tyo-01.node.iris.dn42.

  - name: 3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa
    type: master
    file: db.3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa
    ttl: 3600
    origin: 3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa.
    notify: true
    allow_transfer: *transfer_defaults
    allow_query:
      - any
    soa:
      <<: *soa_defaults
      # TODO auto increment
      # TODO suppress warning
      serial: 2025112602
    records:
      - name: '@'
        type: NS
        value: ns1.iris.dn42.
      - name: '@'
        type: NS
        value: ns2.iris.dn42.
      # PTRs for Anycast
      - name: 0.0.0.0.3.5.0.0.0.0.0.0.0.0.0.0.0.0.0.0
        type: PTR
        value: ns1.iris.dn42.
      - name: 1.0.0.0.3.5.0.0.0.0.0.0.0.0.0.0.0.0.0.0
        type: PTR
        value: ns2.iris.dn42.
      # PTRs for Nodes
      - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.5.6.0.0
        type: PTR
        value: lax-01.node.iris.dn42.
      - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.6.6.0.0
        type: PTR
        value: hkg-01.node.iris.dn42.
      - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.6.0.0
        type: PTR
        value: tyo-01.node.iris.dn42.

  - name: dn42
    <<: *forward_zone_defaults

  - name: 20.172.in-addr.arpa
    <<: *forward_zone_defaults

  - name: 21.172.in-addr.arpa
    <<: *forward_zone_defaults

  - name: 22.172.in-addr.arpa
    <<: *forward_zone_defaults

  - name: 23.172.in-addr.arpa
    <<: *forward_zone_defaults

  - name: 10.in-addr.arpa
    <<: *forward_zone_defaults

  - name: d.f.ip6.arpa
    <<: *forward_zone_defaults