---
dns_service:
  packages:
  - bind9
  - bind9utils
  - bind9-doc
  service_name: bind9
  user: bind
  group: bind
  config_dir: /etc/bind
  zone_dir: /etc/bind/zones

dns_named_options:
  directory: /var/cache/bind
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1
  dnssec_validation: auto
  listen_on_v4:
  - 127.0.0.1
  listen_on_v6:
  - ::1
  allow_query: &dns_allowed_clients
    - 172.20.0.0/14
    - fd42::/16
    - 172.21.111.0/24
    - fd42:4242:1023::/48
    - 127.0.0.1
    - ::1
  recursion: true
  allow_recursion: *dns_allowed_clients
  auth_nxdomain: false
  version: none
  extra_statements:
  - empty-zones-enable no;
  - |
    validate-except {
      "dn42";
      "20.172.in-addr.arpa";
      "21.172.in-addr.arpa";
      "22.172.in-addr.arpa";
      "23.172.in-addr.arpa";
      "10.in-addr.arpa";
      "d.f.ip6.arpa";
    };


dns_nameserver_bindings:
  lax-01:
    interface: dn42-dummy
    ipv4_addresses: []
    ipv6_addresses:
    - fd42:4242:1023:65::53:1/128
    listen_on_v4:
    - 172.21.111.65
    listen_on_v6:
    - fd42:4242:1023:65::53:1
  hkg-01:
    interface: dn42-dummy
    ipv4_addresses: []
    ipv6_addresses:
    - fd42:4242:1023:66::53:1/128
    listen_on_v4:
    - 172.21.111.66
    listen_on_v6:
    - fd42:4242:1023:66::53:1

dns_zones:
- name: iris.dn42
  type: master
  file: db.iris.dn42
  ttl: 3600
  origin: iris.dn42.
  notify: true
  allow_transfer:
  - 172.21.111.66
  - fd42:4242:1023:66::53:1
  - any
  allow_query:
  - any
  soa:
    primary_ns: ns1.iris.dn42.
    contact: hostmaster.iris.dn42.
    serial: 2025112601
    refresh: 7200
    retry: 3600
    expire: 1209600
    minimum: 3600
  records:
  - name: '@'
    type: NS
    value: ns1.iris.dn42.
  - name: '@'
    type: NS
    value: ns2.iris.dn42.
  - name: ns1
    type: A
    value: 172.21.111.65
  - name: ns1
    type: AAAA
    value: fd42:4242:1023:65::53:1
  - name: ns2
    type: A
    value: 172.21.111.66
  - name: ns2
    type: AAAA
    value: fd42:4242:1023:66::53:1
  - name: '@'
    type: A
    value: 172.21.111.65
  - name: '@'
    type: AAAA
    value: fd42:4242:1023:65::1
  - name: lax-01.node
    type: A
    value: 172.21.111.65
  - name: lax-01.node
    type: AAAA
    value: fd42:4242:1023:65::1
  - name: hkg-01.node
    type: A
    value: 172.21.111.66
  - name: hkg-01.node
    type: AAAA
    value: fd42:4242:1023:66::1
  - name: tyo-01.node
    type: A
    value: 172.21.111.67
  - name: tyo-01.node
    type: AAAA
    value: fd42:4242:1023:67::1

- name: 111.21.172.in-addr.arpa
  type: master
  file: db.111.21.172.in-addr.arpa
  ttl: 3600
  origin: 111.21.172.in-addr.arpa.
  notify: true
  allow_transfer:
  - 172.21.111.66
  - fd42:4242:1023:66::53:1
  - any
  allow_query:
  - any
  soa:
    primary_ns: ns1.iris.dn42.
    contact: hostmaster.iris.dn42.
    serial: 2025112601
    refresh: 7200
    retry: 3600
    expire: 1209600
    minimum: 3600
  records:
  - name: '@'
    type: NS
    value: ns1.iris.dn42.
  - name: '@'
    type: NS
    value: ns2.iris.dn42.
  - name: '65'
    type: PTR
    value: ns1.iris.dn42.
  - name: '66'
    type: PTR
    value: ns2.iris.dn42.
  - name: '65'
    type: PTR
    value: lax-01.node.iris.dn42.
  - name: '66'
    type: PTR
    value: hkg-01.node.iris.dn42.
  - name: '67'
    type: PTR
    value: tyo-01.node.iris.dn42.

- name: 3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa
  type: master
  file: db.3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa
  ttl: 3600
  origin: 3.2.0.1.2.4.2.4.2.4.d.f.ip6.arpa.
  notify: true
  allow_transfer:
  - 172.21.111.66
  - fd42:4242:1023:66::53:1
  - any
  allow_query:
  - any
  soa:
    primary_ns: ns1.iris.dn42.
    contact: hostmaster.iris.dn42.
    serial: 2025112602
    refresh: 7200
    retry: 3600
    expire: 1209600
    minimum: 3600
  records:
  - name: '@'
    type: NS
    value: ns1.iris.dn42.
  - name: '@'
    type: NS
    value: ns2.iris.dn42.
  - name: 1.0.0.0.3.5.0.0.0.0.0.0.0.0.0.0.5.6.0.0
    type: PTR
    value: ns1.iris.dn42.
  - name: 1.0.0.0.3.5.0.0.0.0.0.0.0.0.0.0.6.6.0.0
    type: PTR
    value: ns2.iris.dn42.
  - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.5.6.0.0
    type: PTR
    value: lax-01.node.iris.dn42.
  - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.6.6.0.0
    type: PTR
    value: hkg-01.node.iris.dn42.
  - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.6.0.0
    type: PTR
    value: tyo-01.node.iris.dn42.

- name: dn42
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: 20.172.in-addr.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: 21.172.in-addr.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: 22.172.in-addr.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: 23.172.in-addr.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: 10.in-addr.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1

- name: d.f.ip6.arpa
  type: forward
  forward_policy: only
  forwarders:
  - 172.20.0.53
  - fd42:d42:d42:54::1