---
- name: Read WireGuard private key
  ansible.builtin.slurp:
    src: "{{ wireguard_private_key_path }}"
  register: wireguard_private_key_raw
  no_log: true

- name: Cache WireGuard private key content
  ansible.builtin.set_fact:
    wireguard_private_key: "{{ wireguard_private_key_raw.content | b64decode | trim }}"
  no_log: true

- name: Read WireGuard public key
  ansible.builtin.slurp:
    src: "{{ wireguard_public_key_path }}"
  register: wireguard_public_key_raw
  no_log: true

- name: Cache WireGuard public key content
  ansible.builtin.set_fact:
    wireguard_public_key: "{{ wireguard_public_key_raw.content | b64decode | trim }}"
  no_log: true
