---
- name: Gather node list
  ansible.builtin.set_fact:
    node_hosts: "{{ groups.get(node_group, []) | list }}"

- name: Gather dn42 node list
  ansible.builtin.set_fact:
    node_hosts: "{{ groups.get(dn42_group, []) | list }}"

- name: Run prologue setup
  ansible.builtin.include_tasks:
    file: prologue.yaml
  when: target is undefined

- name: Render per-node BIRD configurations
  ansible.builtin.template:
    src: node_peer.conf.j2
    dest: "/etc/bird/nodes/{{ node_prefix }}{{ peer | replace('-', '_') }}.conf"
    owner: bird
    group: bird
    mode: '0644'
  loop: "{{ node_hosts }}"
  loop_control:
    loop_var: peer
    label: "{{ peer }}"
  when:
    - peer != inventory_hostname
    - target is undefined or target == (node_prefix ~ peer | replace('-', '_'))
    - not (remove | default(false))

- name: Remove per-node BIRD configurations
  ansible.builtin.file:
    path: "/etc/bird/nodes/{{ node_prefix }}{{ peer | replace('-', '_') }}.conf"
    state: absent
  loop: "{{ node_hosts }}"
  loop_control:
    loop_var: peer
    label: "{{ peer }}"
  when:
    - peer != inventory_hostname
    - target is undefined or target == (node_prefix ~ peer | replace('-', '_'))
    - remove | default(false)

- name: Render DN42 peer configurations
  ansible.builtin.template:
    src: dn42_peer.conf.j2
    dest: "/etc/bird/peers/{{ dn42_prefix }}{{ (item.bgp.asn | string)[-4:] }}.conf"
    owner: bird
    group: bird
    mode: '0644'
  loop: "{{ lookup('vars', inventory_hostname).peers | default([]) }}"
  when:
    - lookup('vars', inventory_hostname) is defined and lookup('vars', inventory_hostname).peers is defined
    - target is undefined or target == (dn42_prefix ~ (item.bgp.asn | string)[-4:])
    - not (remove | default(false))
  notify: Reload BIRD configuration

- name: Remove DN42 peer configurations
  ansible.builtin.file:
    path: "/etc/bird/peers/{{ dn42_prefix }}{{ (item.bgp.asn | string)[-4:] }}.conf"
    state: absent
  loop: "{{ lookup('vars', inventory_hostname).peers | default([]) }}"
  when:
    - lookup('vars', inventory_hostname) is defined and lookup('vars', inventory_hostname).peers is defined
    - target is undefined or target == (dn42_prefix ~ (item.bgp.asn | string)[-4:])
    - remove | default(false)
  notify: Reload BIRD configuration
