---
- name: Backup WireGuard configs
  hosts: dn42
  gather_facts: false
  vars:
    backup_root: "./backups/wireguard"

  tasks:
    - name: Ensure local backup directories exist
      ansible.builtin.file:
        path: "{{ backup_root }}/{{ inventory_hostname }}/wireguard"
        state: directory
        mode: "0750"
      delegate_to: localhost

    - name: Ensure local backup directories exist
      ansible.builtin.file:
        path: "{{ backup_root }}/{{ inventory_hostname }}/bird/peers"
        state: directory
        mode: "0750"
      delegate_to: localhost

    - name: Locate WireGuard config files
      ansible.builtin.find:
        paths: /etc/wireguard
        patterns: "*.conf"
        file_type: file
      register: wg_conf_files

    - name: Fetch WireGuard configs to local backup
      ansible.builtin.fetch:
        src: "{{ item.path }}"
        dest: "{{ backup_root }}/{{ inventory_hostname }}/wireguard/"
        flat: true
      become: true
      loop: "{{ wg_conf_files.files }}"

    - name: Locate bird peers config files
      become: true
      ansible.builtin.find:
        paths: /etc/bird/peers
        patterns: "*.conf"
        file_type: file
      register: bird_conf_files

    - name: Fetch bird peers configs to local backup
      ansible.builtin.fetch:
        src: "{{ item.path }}"
        dest: "{{ backup_root }}/{{ inventory_hostname }}/bird/peers/"
        flat: true
      become: true
      loop: "{{ bird_conf_files.files }}"
