{%- set endpoint_host = lg_server_endpoint | regex_replace('^[a-zA-Z]+://', '') | regex_replace('/.*', '') -%}
{%- set server_name_value = endpoint_host if endpoint_host else '_' -%}
server {
    listen 80;
    server_name {{ server_name_value }};

    location /api/ws {
        proxy_pass http://{{ lg_server_listen }};

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_read_timeout 86400;
        proxy_send_timeout 86400;
    }
    
    location /api/ {
        proxy_pass http://{{ lg_server_listen }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
